html {
  width: 100%;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
    Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}
.root {
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}
.page {
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.page .part {
  text-indent: 2em;
  margin: 1.4em 0;
  display: block;
  width: 100%;
}
.page-active {
  animation: page-active 2s;
  -webkit-animation: page-active 2s;
  background-color: rgb(245, 245, 220, 1);
}
.page-first {
  box-sizing: border-box;
  padding: 0 30px;
  background: url('http://jwsso.xust.edu.cn/files/2021/05/19/69409060a4d4ce7da9c.png')
    rgba(0, 0, 0, 0.5) no-repeat center center;
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
}
.page-first .title {
  text-align: center;
}

.page-first .desc {
  text-align: center;
}
.page-account {
  box-sizing: border-box;
  padding: 0 30px;
}
.page-account .pic,
.page-desc .pic,
.page-edit .pic,
.page-use .pic,
.page-forget .pic,
.page-auth .pic {
  margin: 15px 0;
  width: 90%;
  object-fit: cover;
}
.page-how .pic {
  padding: 15px 0;
  width: 40%;
  object-fit: cover;
}
.pic-slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
